:root { 
--black_900_7f:#0000007f; 
--deep_orange_600_11:#f4511d11; 
--red_400_04:#f85a4704; 
--gray_50:#f8f8f8; 
--black_900_00:#00000000; 
--black_900_22:#00000022; 
--black_900:#000000; 
--black_900_82:#00000082; 
--deep_orange_600:#f4511e; 
--gray_800_d6:#383838d6; 
--blue_gray_900:#252b42; 
--black_900_26:#00000026; 
--gray_600:#808080; 
--gray_400:#bdbdbd; 
--gray_500:#979797; 
--gray_600_01:#727272; 
--gray_900_87:#09132e87; 
--gray_900:#18191f; 
--gray_900_01:#09132e; 
--gray_300_04:#dedede; 
--gray_200:#e8e8e8; 
--gray_300_03:#d9dbe1; 
--gray_300:#e6e6e6; 
--gray_300_02:#dddddd; 
--gray_300_01:#e3e3e3; 
--gray_100:#f4f4f4; 
--black_900_33:#00000033; 
--gray_100_01:#f3f3f3; 
--black_900_19:#00000019; 
--blue_A100_6c:#7bb9fc6c; 
--white_A700:#ffffff; 
}